<!-- Bootstrap bundle JS -->
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>

<!-- Load other JS -->
<script src="{{ '/assets/lib/lazysizes.min.js' | relative_url }}" async></script>

{% if layout.gallery == true or page.gallery == true %}
  <script src="{{ '/assets/lib/spotlight.bundle.js' | relative_url }}" defer></script>
{% endif %}

{% if page.custom-foot or layout.custom-foot %}
  {%- assign page_feet = page.custom-foot | split: ";" -%}
  {%- assign layout_feet = layout.custom-foot | split: ";" -%}
  {%- assign feet = page_feet | concat: layout_feet -%}
  {% for f in feet %}
    {% if f != "" %}
      {% assign clean_f = f | strip %}
      <!-- Directly load the script using a <script> tag instead of {% include %} -->
      <script src="{{ clean_f | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
