---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" %}
    {% include feature/card.html header="Material Aspects" text="The Material Aspects of The Leigh Hunt Hair Book." objectid="https://hrc.contentdm.oclc.org/digital/iiif/p15878coll14/187/full/full/0/default.jpg" width="50" centered=true %}
    {% include feature/card.html header="Provenance of Locks" text="The Provenance of Individual Locks in The Leigh Hunt Hair Book." objectid="https://hrc.contentdm.oclc.org/digital/iiif/p15878coll14/251/full/full/0/default.jpg" width="50" centered=true %}
    {% include feature/modal.html button="Material Aspects and Provenance of Locks" title="Material Aspects and Provenance of Locks" text="Place Holder" color="primary" %}
    Test 
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}
   
    {% include index/time.html %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>